* {
  margin: 0;
  padding: 0;
}
/* common button  */
.common-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1d4ed8;
}
section {
  padding: 80px 8%;
}
/* nav style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
}
.main-logo img {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}

.common-button a {
  text-decoration: none;
  color: white;
}

/* Hero-section-style */
header {
  background-color: #1d4ed8;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-contain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 25px;
  color: white;
}

.hero-contain h1 {
  margin-top: 110px;
  font-size: 3rem;
}

.hero-contain p {
  margin-bottom: 15%;
  width: 35%;
  text-align: center;
}
.hero-contain button {
  margin-bottom: 25px;
}
/* meet section style  */
